#homePage {
  .jumbotron {
    background-image: url('https://images.unsplash.com/photo-1540849615499-5000b6b4bafc');
    background-size: cover;
    height: 50vh;
  }

  .product {
    img {
      margin: 2% auto;
      display: block;
    }
  }
}
